#define ORANGE_ #f3843d
#define LIGHT #abb2bf
#define MEDIUM #828997
#define DARK #5c6370
#define DARKER #1d1f22
#define CYAN #56b6c2
#define BLUE #61afef
#define BLUE_ #008CCC
#define BLUE_ACCENT #528bff
#define PURPLE #c678dd
#define GREEN #98c379
#define RED_FADED #e06c75
#define RED #be5046
#define ORANGE #d19a66
#define YELLOW #e5c07b
#define FOREGROUND #abb2bf
#define BACKGROUND #282c34
#define GUTTER #636d83

! COLORS
colors.blue_: BLUE_
colors.light: LIGHT
colors.medium: MEDIUM
colors.dark: DARK
colors.darker: DARKER
colors.cyan: CYAN
colors.blue: BLUE
colors.blue_accent: BLUE_ACCENT
colors.purple: PURPLE
colors.green: GREEN
colors.red_faded: RED_FADED
colors.red: RED
colors.orange: ORANGE
colors.yellow: YELLOW
colors.foreground: FOREGROUND
colors.background: BACKGROUND
colors.gutter: GUTTER

! THEME
theme.active.foreground: #FFFFFF
theme.active.background: #000000

theme.inactive.foreground: #FFFFFF
theme.inactive.background: BACKGROUND

theme.unfocused.foreground: #CCCCCC
theme.unfocused.background: BACKGROUND

theme.foreground: FOREGROUND
theme.background: BACKGROUND

theme.highlight: BLUE_
theme.alert: RED
theme.empty: DARKER

! ROFI
! State: 'bg','fg', 'bgalt', 'hlbg', 'hlfg'
rofi.color-enabled: true
rofi.color-window: argb:60000000, BACKGROUND, BLUE_
rofi.color-normal: argb:00000000, FOREGROUND, argb:00000000, BLUE_, BACKGROUND
rofi.color-active: BACKGROUND, BLUE_, BACKGROUND, BLUE_, BACKGROUND
rofi.color-urgent: BACKGROUND, ORANGE_, BACKGROUND, ORANGE_, ORANGE_
rofi.separator-style: none
rofi.fullscreen: true

Xcursor.size: 16
